@import url("https://fonts.googleapis.com/css2?family=Joan&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Joan", serif;
}

html {
  scroll-behavior: smooth;
}
:root {
  --bodyBackgroundLight: #ffebc2;
}

body {
  background-color: var(--bodyBackgroundLight);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.on-off {
  position: absolute;
  right: 17px;
  top: 15px;
  cursor: pointer;
}

.container {
  height: 100vh;
  width: 90vw;
}

.cursor {
  cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    height: 10%;
  }
  nav .icon {
    padding: 10px;
    border: 1px solid #feeec3;
    border-radius: 50%;
    background: radial-gradient(#feeec3, #fff6db);
  }
  .navLeft {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .navLeft h2 {
    margin-left: 20px;
    cursor: pointer;
    font-size: x-large;
    font-weight: 900;
  }
  
  .navMid {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navMid .navitem {
    font-weight: 900;
    cursor: pointer;
  }
  .navMid .navitem:hover {
    color: #eb7e28;
  }
  .navRight {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navRight .search {
    background: none;
    padding: 3px 4px;
    border: 1px solid;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navRight .search input {
    padding: 5px 5px;
    width: 150px;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    font-weight: 900;
  }
  .navRight .cart {
    display: flex;
    float: right;
    cursor: pointer;
    align-items: center;
  }
  .cart h4 {
    margin-right: 20px;
    font-weight: 900;
  }
  .cart .icon {
    position: relative;
  }
  .icon .badge {
    position: absolute;
    height: 15px;
    width: 15px;
    background: #eb7e28;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    left: 25px;
    font-size: 14px;
    font-weight: 800;
  }
  .Landing-Screen {
    height: 90%;
    background: none;
    display: flex;
    flex-direction: column;
  }
  .Landing-Screen .Backside-card-body {
    background: #fdb815;
    height: 60%;
    width: 100%;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px 1px rgba(253, 145, 30, 1);
    position: relative;
    overflow: hidden;
  }
  .Landing-Screen .Backside-card-body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -139px;
    display: none;
  }
  .Backside-card-body .Backside-card {
    display: flex;
    height: 40%;
    align-items: center;
  }
  .Backside-card .Backside-card-Left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .Backside-card-Left h5 {
    margin-left: 50px;
  }
  .Backside-card .Backside-card-Mid {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Backside-card .Backside-card-Right {
    flex: 1;
  }
  .Backside-card-Right .nextproduct {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
  }
  .arrow {
    display: flex;
    width: 80px;
    justify-content: space-between;
  }
  .arrow .fa-solid {
    font-size: 25px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(19, 18, 18);
  }
  .main-body {
    width: 100%;
    height: 36%;
    display: flex;
    justify-content: center;
  }
  
  .main-body .card-body {
    width: 50%;
    background: none;
    position: relative;
  }
  .card {
    width: 100%;
    height: 200%;
    position: absolute;
    bottom: 25px;
    background-color: #ffebc2;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 16px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 16px 4px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 16px 4px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 5px 18px 22px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 18px 22px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 18px 22px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
  }
  .button-cont {
    border-radius: 50px;
  
    box-shadow: inset 0px 0px 16px 4px rgba(255, 255, 255, 1);
  
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  }
  .button-cont button {
    width: 80px;
    height: 40px;
    font-size: 15px;
    border: none;
    background: transparent;
    transition: 0.5s ease-in-out;
  }
  .button-cont .active-btn {
    background-color: black;
    border-radius: 50px;
    color: yellow;
    width: 110px;
  }
  .login {
    height: 70%;
    width: 50%;
    display: none;
    transition: 0.5s ease-in-out;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
  }
  form input {
    width: 100%;
    height: 20%;
    background: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
  }
  .signup {
    height: 70%;
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  .signup form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
  }
  .signup form input {
    width: 45%;
    height: 20%;
    background: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
  }
  form button {
    height: 40px;
    font-size: 15px;
    background-color: black;
    border-radius: 50px;
    color: yellow;
    width: 110px;
    align-self: flex-start;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .icon-cont {
    height: 10%;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  .icon-cont .icon {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
  }
  .icon-cont .icon:hover {
    border: 1px solid rgb(253, 252, 252);
    background: black;
    color: yellow;
  }
      