@import url("https://fonts.googleapis.com/css2?family=Joan&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Joan", serif;
}

html {
  scroll-behavior: smooth;
}
:root {
  --bodyBackgroundLight: #ffebc2;
}

body {
  background-color: var(--bodyBackgroundLight);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.on-off {
  position: absolute;
  right: 17px;
  top: 15px;
  cursor: pointer;
}

.container {
  height: 100vh;
  width: 90vw;
}

.cursor {
  cursor: pointer;
}
/* navbar */

a {
    text-decoration: none;
    color: inherit;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    height: 10%;
  }
  nav .icon {
    padding: 10px;
    border: 1px solid #feeec3;
    border-radius: 50%;
    background: radial-gradient(#feeec3, #fff6db);
  }
  .navLeft {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .navLeft h2 {
    margin-left: 20px;
    cursor: pointer;
    font-size: x-large;
    font-weight: 900;
  }
  
  .navMid {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navMid .navitem {
    font-weight: 900;
    cursor: pointer;
  }
  .navMid .navitem:hover {
    color: #eb7e28;
  }
  .navRight {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navRight .search {
    background: none;
    padding: 3px 4px;
    border: 1px solid;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navRight .search input {
    padding: 5px 5px;
    width: 150px;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    font-weight: 900;
  }
  .navRight .cart {
    display: flex;
    float: right;
    cursor: pointer;
    align-items: center;
  }
  .cart h4 {
    margin-right: 20px;
    font-weight: 900;
  }
  .cart .icon {
    position: relative;
  }
  .icon .badge {
    position: absolute;
    height: 15px;
    width: 15px;
    background: #eb7e28;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    left: 25px;
    font-size: 14px;
    font-weight: 800;
  }
  
/* profile left side */
.profile-cont {
    transition: 0.4s all;
    width: 23vw;
    height: 100vh;
    /* background: #1e1a32; */
    background: #fdb815;
    position: fixed;
    left: -100%;
    z-index: 9999;
    border-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: inset 0px 0px 16px 4px rgba(22, 22, 22, 0.39),
      5px 18px 22px 4px rgba(0, 0, 0, 0.685);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: black;
  }
  .profile-active {
    left: 0;
  }
  .cross {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 25px;
    top: 20px;
  }
  .profile-box {
    width: 90%;
    height: 27%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .profile-box .admin {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  .profile-box .admin img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }
  .profile-box img {
    width: 100px;
    height: 90px;
    border-radius: 30px;
    object-fit: fill;
  }
  .profile-cont .navigation {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .navigation .item {
    display: flex;
    width: 219px;
    gap: 20px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    padding-left: 30px;
    box-shadow: 1px 1px 3px 1px #000;
  }
  .navigation .item:hover {
    background: #00000042;
    color: hsla(0, 0%, 100%, 0.98);
  }
  .navigation .item:active {
    background: #00000042;
    color: yellow;
  }
  .navigation hr {
    margin: 14px 0px;
  }
  

  /* backside */
  .Landing-Screen {
    height: 90%;
    background: none;
    display: flex;
    flex-direction: column;
  }
  .Landing-Screen .Backside-card-body {
    background: #fdb815;
    height: 60%;
    width: 100%;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px 1px rgba(253, 145, 30, 1);
    position: relative;
    overflow: hidden;
  }
  .Landing-Screen .Backside-card-body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -139px;
    display: none;
  }
  .Backside-card-body .Backside-card {
    display: flex;
    height: 40%;
    align-items: center;
  }
  .Backside-card .Backside-card-Left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .Backside-card-Left h5 {
    margin-left: 50px;
  }
  .Backside-card .Backside-card-Mid {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Backside-card .Backside-card-Right {
    flex: 1;
  }
  .Backside-card-Right .nextproduct {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
  }
  .arrow {
    display: flex;
    width: 80px;
    justify-content: space-between;
  }
  .arrow .fa-solid {
    font-size: 25px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(19, 18, 18);
  }

  /* single product */
button {
    width: 130px;
    height: 50px;
    background: black;
    color: yellow;
    border-radius: 15px;
  }
  .main-body {
    width: 100%;
    height: 36%;
    display: flex;
  }
  .main-body .scroll-to-down {
    flex: 1;
    position: relative;
  }
  .scroll-to-down .scroll-body,
  .social-button {
    display: flex;
    transform: rotate(270deg);
    width: max-content;
    position: absolute;
    top: 80px;
    right: -25px;
  }
  .scroll-to-down .scroll-body > a,
  .social-button > a {
    padding: 0px 10px;
  }
  .main-body .card-body {
    flex: 12;
    background: none;
    position: relative;
  }
  .card {
    width: 100%;
    height: 200%;
    position: absolute;
    bottom: 25px;
    background-color: #ffebc2;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 4px rgba(255, 255, 255, 1),
      5px 18px 22px 4px rgba(0, 0, 0, 0.5);
    display: flex;
  }
  .card .card-disc {
    flex: 1;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-desk-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 25px;
  }
  .card .card-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    position: relative;
  }
  .card-img-container .card-img-box {
    width: 90%;
    height: 80%;
    border: 4px solid #e2b47e;
    border-left: none;
    border-right: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-box .card-img {
    width: 90%;
    height: 90%;
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffebc2;
    -webkit-box-shadow: inset 2px 1px 65px 12px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 2px 1px 65px 12px rgba(255, 255, 255, 1);
    box-shadow: inset 2px 1px 65px 12px rgba(248, 248, 248, 0.253);
  }
  .card-img img {
    width: 90%;
    height: 90%;
  }
  .card .card-info {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .review-cont {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .review-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .review-box i {
    color: gold;
  }
  .color-cont {
    display: flex;
    align-items: center;
    width: 75%;
    gap: 10px;
  }
  .color-chart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }
  
  .color-chart input {
    display: none;
  }
  .color-chart input:checked + .color-label::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -7px;
    width: 100%;
    background: black;
    filter: blur(2px);
  }
  .color-chart input:checked + .color-label {
    border: 2px solid black;
  }
  .color-label {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .color-label .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
  }
  
  .main-body .social-button-body {
    flex: 1;
    position: relative;
  }
  .size-chart-box,
  .price-cont {
    width: 75%;
    display: flex;
    gap: 10px;
  }
  .size-chart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
  }
  .size-chart input {
    display: none;
  }
  .size-chart input:checked + label {
    border: 2px solid black;
    transition: 0.5s;
  }
  .size {
    min-width: 35px;
    width: max-content;
    height: 35px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 2px 1px 65px 12px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 2px 1px 65px 12px rgba(255, 255, 255, 1);
    box-shadow: inset 2px 1px 65px 12px rgba(255, 255, 255, 1);
  }
  .card-info button {
    width: 130px;
    height: 50px;
    background: black;
    color: yellow;
    border-radius: 15px;
  }
  .products2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .sweiper-body {
    background: #ffebc2;
    color: #000;
  }
  
  .swiper {
    width: 100%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 90%;
    width: 90%;
    border-radius: 50%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
  }
  .mySwiper .swiper-slide:hover {
    opacity: 0.5;
    background: #72fd15c9;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    background: #72fd15c9;
    cursor: pointer;
  }
  .swiper-pagination-3 {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    z-index: 10;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
    font-size: 30px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
  }
  .card-body > .swiper {
    overflow: initial !important;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swipper2 {
    width: 300px !important;
    margin-right: 30px;
    margin-top: 5px;
    height: 400px;
  }
  .swiper-wrapper-custom {
    display: flex;
    align-items: center;
  }
  .product-card {
    height: 400px;
    width: 100%;
    background: #ffebc2;
    border-radius: 25px;
  
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5),
      inset 2px 1px 35px 12px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5),
      inset 2px 1px 35px 12px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5),
      inset 2px 1px 35px 12px rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-card .nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 11%;
  }
  .nav .icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #feeec3;
    border-radius: 50%;
    background: radial-gradient(#feeec3, #fff6db);
  }
  .product-card .product {
    width: 90%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product .product-background {
    width: 80%;
    height: 40%;
    background: sandybrown;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .product-background .product-background-circle {
    height: 110%;
    width: 100px;
    background: aliceblue;
    border-radius: 50%;
    outline: 4px solid yellow;
  }
  .product .product-image {
    width: 90%;
    height: 60%;
  }
  .product-image img {
    width: 100%;
    height: 150%;
  
    position: relative;
    bottom: 80px;
  }
  .product-card .product-info {
    width: 90%;
    height: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  /* newslatter */
  .newslatter {
    margin-top: 10 0px;
    background: #fdb815;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    gap: 30px;
  }
  .newslatter h4 {
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 900;
  }
  .newslatter form {
    display: flex;
  }
  
  .newslatter form input {
    background: #ffebc2;
    width: 300px;
    height: 40px;
    border: none;
    text-align: center;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .newslatter form button {
    background: black;
    width: 70px;
    height: 40px;
    border: none;
    text-align: center;
    color: yellow;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 20px;
  }
  
/* footer */

  footer {
    margin-top: 35px;
    display: flex;
  }
  footer .footer-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  footer .Usefull-Links {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
  }
  
  footer .Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex: 1;
  }
  .footer-info h2,
  .footer-info p {
    text-align: center;
  }
  .footer-info .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
  }
  .footer-info .social-icon i {
    font-size: 40px;
  }
  .Usefull-Links ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .Usefull-Links ul li {
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
  }
  